* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgba(51, 131, 110, 0.1764705882);
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(51, 131, 110, 0.8549019608);
  border-radius: 5px;
}

/* On hover, color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #33836e;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.justify-between {
  justify-content: space-between;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.my-30 {
  margin: 30px 0;
}

.hidden {
  display: none;
}

.text-underline {
  text-decoration: underline;
}

.bg-none {
  background: none;
}

.border-none {
  border: none;
}

.focus-outline-none {
  outline: none;
}

ul {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
ul li {
  list-style-type: none;
}

header .searchBox {
  width: 300px;
  border-radius: 10px;
  background: var(--gray-background, rgba(47, 43, 67, 0.04));
  padding: 8px 20px;
}
header .searchBox:focus-within {
  outline: solid var(--gray-background, rgba(47, 43, 67, 0.06)) 1px;
}
header .searchBox input {
  width: 85%;
  border: none;
  background: none;
}
header .searchBox input:focus {
  outline: none;
}
header .askQuestion {
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--green, #33836e);
  border: none;
  cursor: pointer;
  color: var(--base-white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
header .askQuestion:hover {
  background: var(--green, rgba(51, 131, 110, 0.9490196078));
}
header .contact h3 {
  color: var(--base-black, #140a32);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
header .contact h4 {
  color: var(--gray-medium, rgba(47, 43, 67, 0.5));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
header nav button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  cursor: pointer;
}
header nav button:hover {
  background: var(--gray-borders, rgba(47, 43, 67, 0.02));
}
header nav a {
  text-decoration: none;
  color: var(--base-black, #140a32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .route {
  color: var(--gray-medium, rgba(47, 43, 67, 0.5));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro {
  margin-bottom: 150px;
}
.intro h1 {
  color: var(--base-black, #140a32);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;
  margin: 0;
}
.intro h2 {
  color: var(--base-black, #140a32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 20px 0;
}
.intro-image {
  margin: 0 0 50px 240px;
  scale: 1.2;
}
.intro-askQuestion {
  padding: 15px 20px;
  border-radius: 10px;
  background: var(--green, #33836e);
  border: none;
  cursor: pointer;
  color: var(--base-white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.intro-askQuestion:hover {
  background: var(--green, rgba(51, 131, 110, 0.9490196078));
}
.intro-contact h3 {
  color: var(--green, #33836e);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  border-bottom: #33836e solid 3px;
  display: inline-block;
}
.intro-contact h4 {
  color: var(--gray-medium, rgba(47, 43, 67, 0.5));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media (max-width: 640px) {
  .container {
    max-width: 360px;
  }
  .searchBox,
  .signin span,
  .nav ul,
  .askQuestion,
  .contact {
    display: none;
  }
  .hidden {
    display: block;
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  }
  .my-30 {
    margin: 20px 0;
  }
  .logo {
    width: 150px;
  }
  .logo img {
    width: 100%;
  }
  .intro .wrapper {
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: none;
  }
  .intro-text {
    max-width: 100%;
  }
  .intro-text h1 {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.66px;
  }
  .intro-text h2 {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .intro-text ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }
  .intro-contact-wrapper {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin-bottom: 30px;
  }
  .intro-askQuestion {
    font-size: 14px;
  }
  .intro-image {
    scale: 0.85;
    margin: 0;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}
.container .space {
  margin-bottom: 60px;
}
.container .green-cont {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  position: relative;
  background: #33836e;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  padding: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media screen and (max-width: 400px) {
  .container .green-cont {
    display: none;
  }
}
.container .green-cont .green-cont-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.container .green-cont .green-cont-left .human-img {
  z-index: 4;
  position: relative;
}
.container .green-cont .green-cont-left .ellipse-img {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container .green-cont .green-cont-right {
  position: absolute;
  right: 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container .green-cont .green-cont-right .head-5 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}
.container .green-cont .green-cont-right .head-4 {
  font-size: 24px;
  font-weight: 700;
}
.container .green-cont .green-cont-right .head-3 {
  font-size: 42px;
  font-weight: 700;
}
.container .green-cont-2 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  position: relative;
  background: #33836e;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  padding: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
}
@media screen and (max-width: 400px) {
  .container .green-cont-2 {
    height: 291px;
    display: block;
    padding: 0;
  }
}
.container .green-cont-2-top {
  width: 100%;
  padding: 20px;
}
.container .green-cont-2-top .head-4 {
  font-size: 18px;
  font-weight: 600;
}
.container .green-cont-2-top .head-3 {
  font-size: 36px;
  font-weight: 700;
}
.container .green-cont-2-bottom {
  display: flex;
}
.container .green-cont-2-bottom-left {
  position: relative;
  left: 0;
  bottom: 0;
}
.container .green-cont-2-bottom-left .human-img {
  position: absolute;
  bottom: 0;
}
.container .green-cont-2-bottom-right {
  position: absolute;
  right: 0;
}
.container .green-cont-2-bottom-right img {
  width: 184px;
}
.container .help-cont .help-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media screen and (max-width: 400px) {
  .container .help-cont .help-title {
    font-size: 20px;
  }
}
.container .help-cont .help-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
@media screen and (max-width: 400px) {
  .container .help-cont .help-grid {
    grid-template-columns: auto;
  }
}
.container .help-cont .help-grid .help-grid-item {
  height: 180px;
  display: flex;
  align-items: center;
  gap: 40px;
  border: 1px solid rgba(47, 43, 67, 0.1490196078);
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media screen and (max-width: 400px) {
  .container .help-cont .help-grid .help-grid-item {
    display: block;
    height: auto;
    grid-template-columns: auto;
    padding: 10px;
  }
}
.container .help-cont .help-grid .help-grid-item p {
  width: 350px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (max-width: 400px) {
  .container .help-cont .help-grid .help-grid-item p {
    width: 100%;
  }
}
.container .choose-cont .choose-top {
  display: flex;
  align-items: center;
}
.container .choose-cont .choose-top-left {
  width: 50%;
}
.container .choose-cont .choose-top-left .choose-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}
.container .choose-cont .choose-top-left p {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  padding: 15px 0;
}
.container .choose-cont .choose-top-left .choose-number {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 70px;
}
.container .choose-cont .choose-top-left .choose-number-title {
  font-size: 28px;
  color: #33836e;
}
.container .choose-cont .choose-top-left .choose-number-p {
  font-size: 16px;
}
.container .choose-cont .choose-top .choose-top-right {
  width: 50%;
}
.container .choose-cont .choose-top .choose-top-right img {
  position: relative;
  bottom: -5px;
}
.container .choose-cont .choose-bottom {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  position: relative;
  background: #33836e;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  padding: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: space-between;
  padding: 0 60px;
}
.container .choose-cont .choose-bottom-left {
  width: 50%;
}
.container .choose-cont .choose-bottom-left-head-4 {
  font-size: 24px;
  font-weight: 600;
}
.container .choose-cont .choose-bottom-left-head-3 {
  font-size: 42px;
  font-weight: 600;
}
.container .choose-cont .choose-bottom-right {
  width: 50%;
}
.container .choose-cont .choose-bottom-right-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.container .choose-cont .choose-bottom-right-buttons {
  width: 100%;
  display: flex;
  gap: 15px;
}
.container .choose-cont .choose-bottom-right-buttons-1 {
  width: 40%;
  padding: 7px 16px 8px 16px;
  text-align: start;
  background: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.container .choose-cont .choose-bottom-right-buttons-1 p {
  color: #777;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  margin-bottom: 5px;
}
.container .choose-cont .choose-bottom-right-buttons-2 {
  width: 40%;
  border: 1px solid white;
  color: white;
  background: none;
  padding: 7px 16px 8px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.container .choose-cont .choose-bottom-right-p {
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.5);
}

.sudo-section-1 h1 {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.sudo-wrapper-1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  gap: 20px;
}

.sudo-wrapper-1-div {
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
}

.sudo-wrapper-1-div div {
  height: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sudo-wrapper-1-div p {
  align-self: stretch;
  color: var(--gray-high, rgba(47, 43, 67, 0.7));
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.sudo-warapper-1-div-h2 {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #33836e;
}

.sudo-section-2 {
  margin: 80px 0 80px 0;
}

.sudo-wrapper-2 {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: var(--gray-background, rgba(47, 43, 67, 0.04));
  padding: 0px 50px;
}

.sudo-wrapper-2 h2 {
  width: 295px;
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin: 50px 0;
}

.sudo-wrapper-2-div div {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
}

.sudo-wrapper-2-div {
  margin: 50px 0;
}

.sudo-wrapper-2-btn-1 {
  display: flex;
  padding: 7px 16px 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  border-radius: 10px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  background: var(--base-white, #fff);
}

.sudo-wrapper-2-btn-1-span-1 {
  color: var(--gray-low, rgba(47, 43, 67, 0.4));
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sudo-wrapper-2-btn-1-span-2 {
  color: var(--base-black, #140a32);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sudo-wrapper-2-btn-2 {
  display: flex;
  padding: 16px 36px 18px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--green, #33836e);
  border: none;
  color: var(--base-white, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sudo-wrapper-2-div p {
  width: 293px;
  color: var(--gray-low, rgba(47, 43, 67, 0.4));
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sudo-wrapper-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.sudo-wrapper-3 h1 {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin: 0;
}

.sudo-wrapper-3 p {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.sudo-wrapper-3 button {
  display: flex;
  padding: 16px 36px 18px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: none;
  background: #e0ece9;
  color: var(--green, #33836e);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sudo-section-4 {
  margin: 80px 0;
}

.sudo-wrapper-4 {
  position: relative;
  width: 100%;
}

.sudo-wrapper-4 h1 {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.sudo-wrapper-4-div {
  display: flex;
  align-items: stretch;
  gap: 20px;
  overflow-x: scroll;
}

.sudo-wrapper-4-div::-webkit-scrollbar {
  display: none;
}

.sudo-wrapper-4 button {
  display: inline-flex;
  position: absolute;
  top: 50%;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 99999px;
  background: var(--gray-background, rgba(47, 43, 67, 0.04));
}

.sudo-wrapper-4 .arrow-left {
  left: -50px;
  z-index: 50;
}

.sudo-wrapper-4 .arrow-right {
  right: -50px;
  z-index: 50;
}

.sudo-wrapper-4-div-card {
  display: flex;
  width: 360px;
  padding: 30px;
  gap: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
}

.sudo-wrapper-4-div-card-div-1 {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.sudo-wrapper-4-div-card-div-1-svg {
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: #115b82;
}

.sudo-wrapper-4-div-card-div-1-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.sudo-wrapper-4-div-card-div-1-div-span-1 {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sudo-wrapper-4-div-card-div-1-div-span-2 {
  color: var(--gray-medium, rgba(47, 43, 67, 0.5));
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sudo-wrapper-4-div-card p {
  align-self: stretch;
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.sudo-wrapper-4-div-card-div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
}

.sudo-wrapper-4-div-card-div-2-span-1 {
  color: var(--gray-medium, rgba(47, 43, 67, 0.5));
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sudo-wrapper-4-div-card-div-2-span-2 {
  flex: 1 0 0;
  align-self: stretch;
  color: var(--green, #33836e);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.sudo-wrapper-5 h1 {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.sudo-wrapper-5-div {
  display: flex;
  gap: 20px;
}

.sudo-wrapper-5-div-1 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.sudo-wrapper-5-div-1-card {
  display: flex;
  width: 463px;
  padding: 20px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
}

.sudo-wrapper-5-div-1-card-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sudo-wrapper-5-div-1-card-div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.sudo-wrapper-5-div-1-card-div h2 {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.sudo-wrapper-5-div-1-card-div span {
  color: var(--base-black, #140a32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sudo-wrapper-5-div-1-card-div p {
  color: var(--gray-medium, rgba(47, 43, 67, 0.5));
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.sudo-wrapper-5-div-1 button {
  display: flex;
  width: 100%;
  padding: 16px 36px 18px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #e0ece9;
  border: none;
  color: var(--green, #33836e);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sudo-wrapper-5-div-2 {
  display: inline-flex;
  height: 617px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--green, #33836e);
}

.sudo-wrapper-5-div-2-div-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.sudo-wrapper-5-div-2-div-1 h2 {
  color: var(--base-white, #fff);
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin: 0;
}

.sudo-wrapper-5-div-2-div-1 p {
  color: var(--base-white, #fff);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.sudo-wrapper-5-div-2 textarea {
  display: flex;
  width: 577px;
  height: 213px;
  padding: 12px 16px 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  border-radius: 10px;
  background: var(--base-white, #fff);
}

@media (max-width: 640px) {
  .sudo-section-1 h1 {
    width: 360px;
    font-size: 20px;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
  }
  .sudo-wrapper-1 {
    display: flex;
    overflow-x: scroll;
  }
  .sudo-wrapper-1-div {
    width: 300px;
  }
  .sudo-wrapper-2 {
    padding: 20px 20px 0px 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .sudo-wrapper-2 h2 {
    align-self: stretch;
    font-size: 24px;
    margin: 0;
    margin-left: 20px;
  }
  .sudo-wrapper-2-div {
    margin: 0;
  }
  .sudo-wrapper-2-div p {
    padding-top: 20px;
  }
  .sudo-wrapper-2-div div {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
  .sudo-wrapper-2-btn-1 {
    padding: 5px 16px 7px 16px;
    align-self: stretch;
  }
  .sudo-wrapper-2-btn-2 {
    padding: 15px 24px 16px 24px;
    align-self: stretch;
  }
  .sudo-wrapper-3 h1 {
    font-size: 20px;
    letter-spacing: -0.6px;
  }
  .sudo-wrapper-3 p {
    align-self: stretch;
    font-size: 14px;
  }
  .sudo-wrapper-3 button {
    padding: 15px 24px 16px 24px;
    font-size: 14px;
  }
  .sudo-wrapper-4-div-card {
    width: 270px;
  }
  .sudo-wrapper-4 .arrow-left {
    display: none;
  }
  .sudo-wrapper-4 .arrow-right {
    display: none;
  }
  .sudo-wrapper-4 h1 {
    width: 360px;
    font-size: 20px;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
  }
  .sudo-wrapper-4-div-card-div-1-div-span-1 {
    font-size: 16px;
  }
  .sudo-wrapper-4-div-card-div-1-div-span-2 {
    font-size: 12px;
  }
  .sudo-wrapper-4-div-card p {
    font-size: 14px;
  }
  .sudo-wrapper-4-div-card-div-2-span-1 {
    font-size: 12px;
  }
  .sudo-wrapper-4-div-card-div-2-span-2 {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */